<div class="all-posts" *ngIf="showPossiblePosts">
    <button mat-mini-fab color="accent" aria-label="Add new audiotrack post">
      <mat-icon>local_dining</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Add new audiotrack post">
      <mat-icon>book</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Add new audiotrack post">
      <mat-icon>local_movies</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Add new audiotrack post">
      <mat-icon>map</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Add new audiotrack post">
      <mat-icon>spa</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Add new audiotrack post">
      <mat-icon>bar_chart</mat-icon>
    </button>
    </div>
    <button mat-fab color="primary" aria-label="Add new post button" class="add-button" (click)="checkShowingPossiblePosts()">
      <mat-icon>add</mat-icon>
    </button>