<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.type}}, {{movie.genre}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span *ngIf="movie.type === filmType.MOVIE, else tvSeries">
            <div>Minutes: {{movie.duration}}, Watched on: {{movie.watchedOn}}</div>
        </span>
        <blogs-star-rating [ngModel] = "movie.rate"></blogs-star-rating>
        <div>Review</div>
        <div>{{movie.review}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button (click)="onEditPost()">Edit</button>
    </mat-card-actions>
  </mat-card>

<ng-template #tvSeries>
    <div>Seasons: {{movie.seasonsNumber}}, Watched on: {{movie.watchedOn}}</div>
</ng-template>