.dialog-content{
    display: flex;
    flex-direction: column;
}

.form-element{
    display: flex;
    flex-direction: row;
}

div, label, mat-form-field, mat-radio-group, blogs-star-rating {
    width: 100%;
}